

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    touch-action: pan-y;
}

/* layout */

.app-container {

    width: 600px;
    margin: 0 auto;
}

header {
    color: white;
    background-image: url("./Images/burger.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    background-position-y: center;
    padding: 1px;
   
}

.header-text-container {
    margin-left: 15px;
    max-width: 300px;
}


.food-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.food-item-emoji {
    width: 100px;
    margin-left: 15px;
}

.order-title {
    text-align: center;
}

.food-item-text-container {
    width: 350px;
    margin-left: 20px;
}

.price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.order-food-item {
    display: inline-block;
    margin-bottom: 7px;
}

#modal-container {
    display: none;
    background-color: white;
    border-radius: 3.89px;
    box-shadow: 0px 0px 100px 10px  black;
    width: 500px;
    height: 550px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.modal-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

input {
    width: 475px;
    height: 70px;
    border-radius: 3.89px;
    border: 1.297px solid #757575;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    padding-left: 25px;
    
}

.order-complete-container {
    padding: 50px 65px;
    background-color: #ECFDF5;
    border-radius: 3px;
}







/* Typography */

.food-item-container h1{
    font-size: 70px;
}

.food-item-container h2{
    font-size: 20px;
}

.food-item-container h3{
    font-size: 16px;
}

.food-item-container h4{
    font-size: 12px;
}

.order-food-item-container {

    display: flex;
    justify-content: space-between;
}


.price-container span  {
    font-weight: 600;
}
.price-container span:nth-of-type(1){
    font-size: 24px;
}

.price-container span:nth-of-type(2){
    font-size: 20px;
    
}

.order-food-name {
    font-weight: 600;
    font-size: 20px;
}

.modal-title {
    text-align: center;
    color: #000;
    font-family: Verdana;
    font-size: 24px;
}



/* buttons */

button {
    cursor: pointer;
}

.food-item-button-container {
   display: flex;
   
}

.add-item-button {
 
 
    background-image: url("./Images/icon.svg");
   
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border: none;
    background-color: white;

}
.remove-btn {
    border: none;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BBB;
}

.order-btn-container {
    display: flex;
    justify-content: center;
}

.order-btn {

    border-radius: 3px;
    background-color: #16DB99;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 80%;
    height: 60px;
    margin-bottom: 40px;

}

.exit-modal-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    
}

.modal-pay-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    
}

.modal-pay-btn-container button  {
    border-radius: 3px;
    background-color: #16DB99;
    border: none;
    color: white;
    width: 80%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    
}





@media screen and (max-device-width: 480px) and (orientation:portrait) {

    .app-container {

        width: 100vw;
        margin: 0 auto;
    }

    .order-food-name {
        font-weight: 600;
        font-size: 18px;
        margin-left: 10px;
    }

    .header-text-container {
      max-width: 250px;
      
    }
    

    #modal-container {
        box-shadow: 0px 0px 100px 10px  black;
        width: 80%;
        height: 550px;
        
    }

    input {
        width: 80%;
    }

 
} 